<div class="demo">
  <ng-lottie
    *ngIf="shown"
    width="600"
    height="500"
    containerClass="moving-box"
    [options]="options"
    (animationCreated)="animationCreated($event)"
    (configReady)="configReady()"
    (dataReady)="dataReady()"
    (domLoaded)="domLoaded()"
    (enterFrame)="enterFrame($event)"
    (segmentStart)="segmentStart($event)"
    (complete)="complete($event)"
    (loopComplete)="loopComplete($event)"
    (destroy)="destroy($event)"
  ></ng-lottie>

  <div class="controls">
    <div class="range">
      <input #range type="range" value="1" min="0" max="3" step="0.5" (change)="setSpeed(range.value)">
    </div>

    <div class="actions">
      <button (click)="showAnimation()">Show</button>
      <button (click)="destroyAnimation()">Destroy</button>
      <button (click)="play()">Play</button>
      <button (click)="pause()">Pause</button>
      <button (click)="stop()">Stop</button>
    </div>
  </div>
</div>
