<div class="demo">
  @if (shown()) {
    <ng-lottie
      width="600px"
      height="500px"
      containerClass="moving-box moving-box-second-class"
      [styles]="styles"
      [options]="options()"
      (animationCreated)="animationCreated($event)"
      (destroy)="destroy($event)"
    ></ng-lottie>
  }

  <div class="controls">
    <div class="range">
      <input
        #range
        type="range"
        value="1"
        min="0"
        max="3"
        step="0.5"
        (change)="setSpeed(range.value)"
      />
    </div>

    <div class="actions">
      <button class="show" (click)="showAnimation()">Show</button>
      <button class="destroy" (click)="destroyAnimation()">Destroy</button>
      <button (click)="play()">Play</button>
      <button (click)="pause()">Pause</button>
      <button (click)="stop()">Stop</button>
      <button class="update-animation" (click)="updateAnimation()">Update animation</button>
    </div>
  </div>
</div>
